<div ng-controller="onlineController as online" ng-init="online.init()" class="col-sm-9 page col-right">
    <!--glyphicon-th-->
    <a>
        <strong>
            <i class="glyphicon glyphicon-stats"></i>
            统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            上线情况
        </strong>
    </a>

    <hr>
    
    <!--loading online-->
    <div ng-show="online.loadingOnline">loadingOnline...</div>
    <!--loading online-->

    <!--loading 筛选条件 项目列表-->
    <div ng-show="online.loadingProList">loadingProList...</div>
    <!--loading 筛选条件 项目列表-->
    
    <!--loading 图表-->
    <div ng-show="online.loadingChart">loadingChart...</div>
    <!--loading 图表-->

    <!--当前 上线数／总数 开始-->
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-info scoreboard">
                <div class="panel-heading">总数</div>
                <div class="panel-body">{{online.totalCount}}</div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-success scoreboard">
                <div class="panel-heading">在线数</div>
                <div class="panel-body">{{online.onlineCount}}</div>
            </div>
        </div>
    </div>
    <!--当前 上线数／总数 结束-->
    
    <hr>
    
    <!-- 筛选 -->
    <div class="row">
        <!--筛选条件 项目 开始-->
        <div class="col-xs-3">
            <select ng-model="online.searchVal.project" ng-change="online.search()" class="form-control">
              <option ng-repeat="item in online.searchVal.projects" value="{{item.value}}">{{item.name}}</option>
            </select>
        </div>
        <!--筛选条件 项目 结束-->
        <!--筛选条件 开始日期 开始-->
        <div class="col-xs-3">
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#"
                   href="#">
                    <div class="input-group date">
                        <input type="text" class="form-control" data-ng-model="searchDate">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="searchDate"
                                    data-datetimepicker-config="{renderOn: 'start-date-changed', minView: 'day', modelType: 'YYYY-MM-DD'}"
                                    data-on-set-time="startDateOnSetTime()"
                                    data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                </ul>
            </div>
        </div>
        <!--筛选条件 开始日期 结束-->
        

        <!--筛选条件 粒度 开始-->
        <div class="col-xs-6">
            <div class="btn-group condition">
                <div class="btn btn-default">
                    <input ng-change="online.search()" type="radio" name="duration" value="1" ng-model="online.duration"> 最近一天
                </div>
                <div class="btn btn-default">
                    <input ng-change="online.search()" type="radio" name="duration" value="7" ng-model="online.duration"> 最近一周
                </div>
                <div class="btn btn-default">
                    <input ng-change="online.search()" type="radio" name="duration" value="31" ng-model="online.duration"> 最近一月
                </div>

            </div>
        </div>
        <!--筛选条件 粒度 结束-->
    </div>




    

    <!--online chart 开始-->
    <div fusioncharts
        width="100%" 
        height="400"
        type="msline"
        chart="{{attrs}}"
        categories="{{categories}}"
        dataset="{{dataset}}"
        ></div>
    <!--online chart 结束-->  
    
    <!--online table 开始-->
    <table class="table">
        <th>日期</th>
        <th>总数</th>
        <th>上线</th>
        <tr ng-repeat="n in categories[0].category track by $index">
            <td>{{categories[0].category[$index].label}}</td>
            <td>{{dataset[0].data[$index].value}}</td>
            <td>{{dataset[1].data[$index].value}}</td>
        </tr>
    </table>
    <!--online table 结束-->  

</div>
<style type="text/css">
    .datetimepicker {width: 400px;}
</style>
