<div ng-controller="projectsController as projects" ng-init="projects.init()" class="col-sm-9 page col-right">
    <a>
        <strong>
            <i class="glyphicon glyphicon-flag"></i>
            项目管理
        </strong>
    </a>
    <hr>
    <div class="btn-group">
        <button ng-click="projects.add()" type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i> 添加项目</button>
    </div>
    <hr class="break-space">
    <table class="table table-hover table-condensed" ng-table="projects.tableParams">
        <div ng-show="projects.loading">loading...</div>
        <tr ng-repeat="project in $data track by $index">
            <td data-title="'项目登录名'" >{{project.ProjectName}}</td>
            <td data-title="'项目名称'" >{{project.ProjectNameCHZ}}</td>
            <td data-title="'在线情况'" >{{project.Online}}/{{project.Total}}</td>
            <td data-title="'微信 AppID'" >{{project.WXAppID}}</td>
            <td data-title="'微信名称'" >{{project.WXName}}</td>
            <td data-title="'操作'">
                <a ng-click="projects.queryProxy(project.ProjectName, project.ProjectNameCHZ)" style="cursor: pointer">小前端</a>
                <a ng-click="projects.edit(project)" style="cursor: pointer">编辑</a>
            </td>
        </tr>
    </table>
    <div ng-show="projects.noData">查无数据</div>
</div>
