<!--<div ng-controller="proxyController as proxy" ng-init="proxy.init()" class="col-sm-9 page col-right">-->
    <!--<a>-->
        <!--<strong>-->
            <!--<i class="glyphicon glyphicon-flag"></i>-->
            <!--小前端状态-->
        <!--</strong>-->
    <!--</a>-->
    <!--<hr>-->
    <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button ng-click="proxy.add()" type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i> 添加项目</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<hr class="break-space">-->
    <!--<table class="table table-hover table-condensed" ng-table="proxy.tableParams">-->
        <!--<div ng-show="proxy.loading">loading...</div>-->
        <!--<tr ng-repeat="proxy in proxy.list track by $index">-->
            <!--<td data-title="'项目名称'" >{{proxy.ProjectName}}</td>-->
            <!--<td data-title="'MAC'" >{{proxy.Mac}}</td>-->
            <!--<td data-title="'小前端ID'" >{{proxy.ProxyID}}</td>-->
            <!--<td data-title="'CPU'" >{{proxy.CPU | toPercent}}</td>-->
            <!--<td data-title="'内存剩余'" >{{proxy.Mem}}</td>-->
            <!--<td data-title="'硬盘剩余'" >{{proxy.Disk}}</td>-->
            <!--<td data-title="'版本'" >{{proxy.Version}}</td>-->
            <!--<td data-title="'更新时间'" >{{proxy.UpdateTime}}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<div ng-show="proxy.noData">查无数据</div>-->
<!--</div>-->

<div ng-controller="proxyController as proxy" ng-init="proxy.init()" class="modal-dialog modal-lg autoscroll font-normal">
    <div class="modal-content">
        <!-- loading -->
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="proxy.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title"><b>{{proxy.ProjectNameCHZ}}</b> 小前端情况</h5>
        </div>
        <!--header end-->
        <!--body-->
        <div class="modal-body">
            <div ng-show="proxy.loading" class="text-center">loading...</div>
            <table class="table table-hover table-condensed" ng-table="proxy.tableParams" ng-hide="proxy.loading || proxy.noData">
                <tr ng-repeat="proxy in proxy.list track by $index">
                    <td data-title="'小前端ID'" >{{proxy.ProxyID}}</td>
                    <td data-title="'MAC'" >{{proxy.Mac}}</td>
                    <td data-title="'CPU'" >{{proxy.CPU | toPercent}}</td>
                    <td data-title="'内存剩余'" >{{proxy.Mem}}</td>
                    <td data-title="'硬盘剩余'" >{{proxy.Disk}}</td>
                    <td data-title="'版本'" >{{proxy.Version}}</td>
                    <td data-title="'更新时间'" >{{proxy.UpdateTime}}</td>
                </tr>
            </table>
            <div ng-show="proxy.noData" class="text-center">查无数据</div>
        </div>
        <!--body end-->
        <!--footer-->
        <div class="modal-footer">
            <!-- 取消 -->
            <button type="button" class="btn btn-default btn-sm" ng-click="proxy.cancel()">取消</button>
        </div>
        <!--footer end-->
    </div>
</div>
