<div ng-controller="proxyController as proxy" ng-init="proxy.init()" class="modal-dialog modal-lg autoscroll font-normal">
    <div class="modal-content">
        <!-- loading -->
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="proxy.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title"><b>{{proxy.ProjectNameCHZ}}</b> 小前端情况：<b>{{proxy.total}}</b></h5>
        </div>
        <!--header end-->
        <!--body-->
        <div class="modal-body">
            <div ng-show="proxy.loading" class="text-center">loading...</div>
            <table ng-hide="proxy.loading || proxy.noData"  class="table table-hover table-condensed proxy-table" ng-table="proxy.tableParams">
                <tr ng-repeat-start="item in proxy.list track by $index">
                    <td data-title="'小前端ID'">
                        <i class="glyphicon glyphicon-warning-sign text-danger" ng-show="item.Notice"></i>
                        <input class="proxy-proxyID" ng-model="item.ProxyID" disabled>
                    </td>
                    <td data-title="'MAC'" >{{item.Mac}}</td>
                    <td data-title="'CPU'" >{{item.CPU | toPercent}}</td>
                    <td data-title="'MemFree'" >{{item.NoUsedMem | leftTwoDecimal}}G</td>
                    <td data-title="'Mem占用%'" >{{item.MemRate}}</td>
                    <td data-title="'DiskFree'" >{{item.NoUsedDisk | leftTwoDecimal}}G</td>
                    <td data-title="'Disk占用%'" >{{item.DiskRate}}</td>
                    <td data-title="'版本'" >{{item.Version}}</td>
                    <td data-title="'更新时间'" >{{item.UpdateTime}}</td>
                    <td data-title="'项目类型'">
                        <select ng-model="item.Type" ng-change="TypeChanged($index)" ng-options="pro.id as pro.value for pro in proxy.proTypeList">
                        </select>
                    </td>
                    <td data-title="'详情'">
                        <a style="cursor: pointer" ng-click="toggleDetail($index)" >{{proxy.listState[$index] == true ? "隐藏" : "显示"}}</a>
                    </td>
                </tr>
                <tr ng-show='item.TaskList.length>0 && proxy.listState[$index]' ng-repeat-end>
                    <td colspan="11">

                        <ul class="proxy-detail">
                            <div>
                                <span style="width:200px">进程名称</span>
                                <span style="width:100px">是否存活</span>
                                <span style="width:100px">&nbsp;当前版本&nbsp;</span>
                                <span style="width:100px">&nbsp;服务器版本&nbsp;</span>
                                <span style="width:200px">剩余下载任务</span>
                            </div><br/>
                            <li ng-repeat="task in item.TaskList track by $index" style="padding-top:5px;list-style-type:decimal">
                                <span style="width:200px">{{task.TaskName}}</span>
                                <span style="width:100px">{{task.IsAlive == 1 ? "是" : "否"}}</span>
                                <span style="width:100px">&nbsp;{{task.CurVersion}}&nbsp;</span>
                                <span style="width:100px">&nbsp;{{proxy.serverVersion[task.TaskName]}}&nbsp;</span>
                                <span style="width:200px">{{task.LeftTask == 0 ? "无下载任务" : task.LeftTask}}</span>
                            </li>
                            
                        </ul>
                    </td>
                </tr>
            </table>
            <div ng-show="proxy.noData" class="text-center">查无数据</div>
        </div>
        <!--body end-->
        <!--footer-->
        <div class="modal-footer">
            <!-- 关闭 -->
            <a ng-show="proxy.page > 1" ng-click="proxy.back()">上一页</a>
              {{proxy.page}}/{{proxy.totalPage}}
            <a ng-show="proxy.page < proxy.totalPage" ng-click="proxy.next()">下一页</a>
        </div>
        <!--footer end-->
    </div>
</div>
